<html>
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <title>NEST</title>
  </head>
  <body>
        <form action="/" method="post" name="publish">
          {{ form.hidden_tag() }}
          <p>
              Text: {{ form.text(rows='10',cols='40') }} <br>
              Email: {{ form.email }} <br>
              Expiration Time (min): {{ form.expiration_time }} <br>
              Views: {{ form.sdCounter }} <br>
              Password: {{ form.password }} <br>
          </p>
          <p><input type="submit" value="Create"></p>
      </form>
  </body>
</html>